@import url('./layout/fonts.css');
@import url('./layout/base.css');
@import url('./layout/normalize.css');

@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/contacts.css');
@import url('./blocks/routemain.css');
@import url('./blocks/desc.css');
@import url('./blocks/offers.css');
@import url('./blocks/news.css');
@import url('./blocks/pager.css');
@import url('./blocks/about__desc.css');
@import url('./blocks/footer.css');
@import url('./blocks/img.css');

@import url('./blocks/services-header.css');
@import url('./blocks/services-contacts.css');
@import url('./blocks/services-breadcrumbs.css');
@import url('./blocks/services-services.css');
@import url('./blocks/services-paginator.css');
@import url('./blocks/services-partnters.css');
@import url('./blocks/services-footer.css');
