@import url('./layout/fonts.css');
@import url('./layout/base.css');
@import url('./layout/normalize.css');

@import url('./blocks/services-header.css');
@import url('./blocks/services-contacts.css');
@import url('./blocks/services-breadcrumbs.css');
@import url('./blocks/services-services.css');
@import url('./blocks/services-paginator.css');
@import url('./blocks/services-partnters.css');
@import url('./blocks/services-footer.css');
