
/* Подробнее */
.btn_btn {
    position: relative;
    left: 441px;
    top: -106px;
}

/* text-fish */
.about__text__fish {
    position: absolute;
    left: 322px;
    top: 214px;
    color: #060606;
    font-size: 16px;
    height: 135px;
    padding: 43px 222px 0px 89px;
    margin: 0 3px;
    line-height: 27px;
}