
img.section__fire {
    position: relative;
    bottom: 64px;
    right: -295px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 27px;
    margin-left: 13px;    
    content:attr(offers__header-img)
}

.offers__item {
    min-height: 453px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
}

.offers__item:last-child {
    margin-right: 0;
}


.offers__header {
    min-height: 33px;
    margin-bottom: 28px;
}

.offers__content {
    padding: 7px 12px;
    color: #000000;
}

.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 9px;
}

.offers__prices-cell {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 155px;
    margin: 0px;
    left: 3px;
    top: -9px;
}

.section {
    display: flex;
    height: 549px;
    left: 389px;
}
