.dropdown__item--black {
    font-size: 13px;
    font-weight: bold;
    color: #1E1F20;
    display: flex;
}

.dropdown__item {
    font-size: 13px;
    color: #1E1F20;
    display: flex;
}

.dropdown {
    position: relative;
}

/* .dropdown.contacts__info:hover {
    display: block;
} */

.dropdown:hover .dropdown__menu {
    display: block;
}

.dropdown__menu {
    position: absolute;
    background: #EDEDED;
    border-radius: 5px;
    width: 83%;
    margin-top: 0px;
    top: 18px;
    left: 32px;
    padding: 13px 14px;
    display: none;
}

.dropdown__menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 30%;
    transform: rotate(90deg);
    top: calc(-6% - 12px);
    border-top: 12px solid transparent;
    border-right: 13px solid #ededed;
    border-bottom: 12px solid transparent;
}

ul.dropdown__list {
    line-height: 21px;
    display: block;
}

a.dropdown__link:hover {
    text-decoration: underline;
}