.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.header__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 26px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

ul.menu__list {
    display: flex;
}

.header__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__link:hover {
    color: #DA0100;
}

.menu--active {
    color: #DA0100;
}

.menu--active:hover {
    color: #FFFFFF;
}

li.menu__item {
    margin-right: 50px;
}