
.offers__price {
    vertical-align:middle;
    display: inline-block;
    height: 22px;
}
img.raiting__star {
    float: left;
    margin-right: 10px;
}

p.offers__price-desc {
    position: relative;
    height: 125px;
    left: 11px;
    top: 27px;
    line-height: 20px;
    font-size: 14px;
    margin: -12px;
    padding: 0 0 0 19px;
}