/* Pager */

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 134px;
    margin-bottom: 124px;
    line-height: 0;
    align-items: center;
}

.paginator__items {
    margin-top: -4px;
    margin-left: 68px;
}

ul.paginator__list {
    margin-left:28px
}
.paginator__click:hover {
    color: red;
}

.paginator__item {
    position: relative;
    display: inline-block;
    min-width: 37px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.paginator__item:hover {
    border-radius: 35px;
    background-color: #fff;
}

/* Services */ 
.paginator--services {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    margin-left: 104px;
    line-height: 0;
    align-items: center;
    color: #000000;
}
.paginator--services {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    margin-left: 38px;
    line-height: 0;
    align-items: center;
    color: #000000;
}

.paginator_items {
    margin-top: -4px;
    margin-left: 68px;
}

ul.paginator_list {
    margin-left:28px;
    font-weight: bold;

}
.paginator_click:hover {
    color: #fff;
}

.paginator_item {
    position: relative;
    display: inline-block;
    min-width: 37px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.paginator_item:hover {
    border-radius: 35px;
    background-color: #F5170E;
    font-weight:bold;
}

/* paginator--active */
.paginator_item--active {
    border-radius: 35px;
    color: #fff;
    background-color: #F5170E;
    font-weight:bold;
}

a.paginator_click {
    margin: -1%;
}