/* Pager */

.paginator {
    display: flex;
    justify-content: center;
    margin-top: 134px;
    margin-bottom: 124px;
    line-height: 0;
    align-items: center;
}

.paginator__items {
    margin-top: -4px;
    margin-left: 68px;
}

ul.paginator__list {
    margin-left:28px
}
.paginator__click:hover {
    color: red;
}

.paginator__item {
    position: relative;
    display: inline-block;
    min-width: 37px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}

.paginator__item:hover {
    border-radius: 35px;
    background-color: #fff;
}
