.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 70px;
}

.reviews__item {
    margin-bottom: 20px;
}
.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 35px;
    background: #F4F5F5;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #1A1B1E;
    margin-bottom: 11px;
    transition: .2s
}

.review__user::after {
    content: url("./img/avatar/vk-blue.png");
    height: 29px;
    margin-left: 7px;
}

.avatar {
    overflow: hidden;
    width: 165px;
}
 
.reviews__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;
    transition: .3s;
}

.tag:hover {
    background: #B9EAE4;
    transition: .3s;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 13px;
}

.review__content-text {
    margin-bottom: 50px;
    color: #818181;
    line-height: 27px;
}

.review__date {
    font-size: 14px;
    font-weight: bold;
    color: #1A1B1E;
}

.separatopr{
    background: url('./img/avatar/people.png') right 20% bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.seprator__content {
    max-width: 50%;
}

.seprator__title {
    font-size: 48px;
    font-weight: bold;
}

.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    
    border: none;
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea {
    height: 232px;
}

input.form__input {
    border: 1px solid #ccc;/*цвет рамки при нормальных условиях*/
}

input {
    outline: none; /*убирает свичение рамки*/
}

textarea {
    outline: none;
}

input.form__input:focus {
    border: 1px solid #F5170E;
}

textarea.form__input:focus {
    border: 1px solid #F5170E;
}

.form__controls {
    display: flex;
    margin-bottom: 35px;
}

.form__controls-title {
    width: 40%;
}

.controls {
    flex:1;
    display: flex;
    flex-wrap: wrap;
}

.controls__elem {
    cursor: pointer;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 5px;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
    transition: .3s;
}

.controls__checkbox {
    display: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn--color--black:hover {
    background: #F5170E;
}

.btn--color--black {
    background: #2B2B2B;
}

.form__btn {
    margin-right: 20px;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.form__btn:last-child {
    margin-right:0 ;
} 

.review__user:hover {
    color:#2E77A4;
    text-decoration:underline;
    transition: .2s;
}