.route--main {
    margin:0 auto;
   width: 1150px;
}

.route {
    padding: 0px 0 425px;
    padding-top: 79px;
}

ul.offers {
    margin-left: 11px;
}

.route__image {
    width: 51%;
    height: 197px;
    left: 390px;
    top: 196px;
}

.route__image-title {
    font-size: 72px;
    font-weight: bold;
    line-height: 99px;
    margin-bottom: 25px;
    margin-left: 12px;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: #000;
}

.route__image-text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

h4.route__image-text {
    height: 11px;
    margin-left: 13px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 16px 34px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    transition: .3s;
}

.btn:hover {
     text-align: center; 
     padding: 16px 34px;
     text-transform: uppercase;
     background: #da0100;
     transition: .3s;
}
