.page-title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
}
.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color:#9A9A9A;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
    margin-right: 3px;
}