.footer--services {
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0;
}

.inner-footer {
    margin-top: auto;
}

.footer__col--services {
    display: flex;
    align-items: center;
}


.contacts__desc--services {
    color: #9A9A9A;
    font-size: 11px;
    font-style: normal;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    display: flex;
    margin-left: 225px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background: url("./img/icons/telegram.png");
}

.socials__item--icon--telegram .socials__link:hover {
    background: url("./img/icons/telegram222.png");
}

.socials__item--icon--vk .socials__link {
    background: url("./img/icons/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
    background: url("./img/icons/vk111.png");
}
.socials__item--icon--fb .socials__link {
    background: url("./img/icons/faceb.png");
}

.socials__item--icon--fb .socials__link:hover {
    background: url("./img/icons/faceb222.png")
}
.socials__item--icon--insta .socials__link {
    background: url("./img/icons/in.png");
}

.socials__item--icon--insta .socials__link:hover {
    background: url("./img/icons/in222.png");
}

.menu--active {
    color: #DA0100;
}

.menu--active:hover {
    color: #FFFFFF;
}