.page-content {
    background: #fff;
    color: #303030;
    padding: 100px 0;
}

.service {
    display: flex;
    margin-bottom: 52px;
}

.services__img {
    margin-right: 5%;
}

.services__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 38px;
    color: #000000;
}

.service__desc {
    line-height: 27px;
    margin-bottom: 35px;
    width: 103%;
}

.top-line {
    min-height: 410px;
    background: url("./img/headline\ 1.png")  right 20% top no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    flex-wrap: wrap;
}
