.inner-section {
    color: #1A1B1E;
    padding: 84px 0;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.partners__item {
    margin-left: 46px;
}
