
.header__col {
    display: flex;
    align-items: center;

}

.header__col--align--right {
    justify-content: flex-end;
    margin-right: -17px;
}

.header__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 26px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}


ul.menu__list {
    display: flex;
}


.logo {
    margin-right: 79px;
    width: 100%;
}

.menu {
    left: 172px;
    top: 24px;
}

.menu__item {
    margin-right: 50px;
    font-size: 14px;
}

.menu__item:last-child {
    margin-right: 0;
}