.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url('./img/big_welcome.png') center bottom / cover no-repeat;
}


.central {
    opacity: 0;
    animation: zoom .9s ease-in;
    animation-fill-mode: forwards ; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    margin-bottom: 65px;
}

.central__desc {
    font-size: 18px;
    position: relative;
    top: -64px;
}

.central__title {
    position: relative;
    top: -60px;
}

@keyframes zoom {
    from {
        transform: scale(.7);;
    }

    20% {
 
        transform: scale(1.15);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}